---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

$brand-primary:       #4B77BE !default;
$progress-primary:    $brand-primary!default;
$link-font-color:     $brand-primary!default;

$navbar-background-color: darken($brand-primary, 20%) !default;
//$navbar-background-color-active:             $mint-light !default;

//$navbar-font-color:                          $white !default;
//$navbar-item-background-color-hover:         $navbar-background-color-active !default;

//$navbar-inverse-background-color:            $black !default;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting",
        "bootstrap",
        "bootflat",
        "layout",
        "profile",
        "blog",
        "post"
;

html, body {
    height: 100%;
}

body {
	margin-top: 50px;
	font-family: 'Open Sans', Arial, Tahoma;
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: 1px;
  background-color: white;
  height: 100%;
}

h1 {
	font-size: 2.5em;
}

.label,
.badge {
  padding-left: 12px;
  padding-right: 12px;
}

footer.page-footer {
  background-color: $navbar-background-color;
  color: white;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
